@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic,cyrillic-ext,latin-ext");
@-webkit-keyframes smoke {
  0% {
    background-position-y: 0; }
  50% {
    background-position-y: 50%; }
  100% {
    background-position-y: 100%; } }
@keyframes smoke {
  0% {
    background-position-y: 0; }
  50% {
    background-position-y: 50%; }
  100% {
    background-position-y: 100%; } }

@-webkit-keyframes smoke-2 {
  0% {
    background-position-y: 100%; }
  50% {
    background-position-y: 50%; }
  100% {
    background-position-y: 0; } }

@keyframes smoke-2 {
  0% {
    background-position-y: 100%; }
  50% {
    background-position-y: 50%; }
  100% {
    background-position-y: 0; } }

.am__inner, .block__inner, .footer__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1200px) {
    .am__inner, .block__inner, .footer__inner {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (max-width: 767px) {
    .am__inner, .block__inner, .footer__inner {
      padding-right: 10px;
      padding-left: 10px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #333;
  line-height: 1.6; }

img {
  width: 100%;
  height: auto;
  display: block; }

h1, h2, h3, h4 {
  margin: 0; }

.cnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .buttons > .button {
    margin-right: 20px; }
    .buttons > .button:last-child {
      margin-right: 0; }

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a76a8;
  color: #fff;
  text-decoration: none; }
  .button:hover {
    background-color: #335173; }

a {
  display: inline-block;
  color: #4a76a8;
  text-decoration: none; }

.mail,
.phone {
  position: relative;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  margin: 10px 0; }
  .mail::before,
  .phone::before {
    content: url("http://placehold.it/20x20");
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social__link {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cccccc; }
    .social__link:last-child {
      margin-right: 0; }
    .social__link:hover {
      background-color: #b3b3b3; }

.am {
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-shadow: 0 0 10px -2px #232323;
  box-shadow: 0 0 10px -2px #232323;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  z-index: 99; }
  .am.active {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .am__inner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .am__branding {
    font-size: 24px;
    font-weight: 800; }

.block {
  padding-top: 110px;
  padding-bottom: 150px; }
  .block:nth-child(odd) {
    background-color: #e6e6e6; }
  .block__heading {
    max-width: 17em;
    font-size: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 1.1;
    margin-bottom: 15px; }
  .block__descr {
    font-size: 20px;
    max-width: 40em;
    margin-bottom: 50px; }

.header {
  background-color: #ddd;
  padding: 40px 0; }
  .header__siteName {
    font-size: 24px;
    font-weight: 800; }

.mainMenu {
  font-size: 14px; }
  .mainMenu__menu {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .mainMenu__item {
    margin-right: 10px; }
    .mainMenu__item:last-child {
      margin-right: 0; }
  .mainMenu__link {
    padding: 10px;
    background-color: #ccc; }
    .mainMenu__link:hover {
      background-color: #bbb; }

.titr__heading {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.titr__descr {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.participate__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.participate__image {
  width: 48.71703%; }

.participate__content {
  width: 45.30175%; }

.haveProject__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.haveProject__image {
  width: 48.71703%; }

.haveProject__content {
  width: 45.30175%; }

.how__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px; }
  .how__row:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.how__image {
  width: 40.16987%; }

.how__content {
  width: 53.84891%; }

.how__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px; }

.how__body {
  font-size: 18px;
  margin-bottom: 30px; }

.how__button {
  display: inline-block; }

.world__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.world__image {
  width: 48.71703%; }

.world__content {
  width: 45.30175%; }

.participateCTA {
  text-align: center; }
  .participateCTA__heading {
    margin-right: auto;
    margin-left: auto; }
  .participateCTA__descr {
    margin-right: auto;
    margin-left: auto; }

.team {
  text-align: center; }
  .team__heading {
    margin-right: auto;
    margin-left: auto; }
  .team__descr {
    margin-right: auto;
    margin-left: auto; }
  .team__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .team__item {
    width: 31.6227%;
    text-align: center; }
  .team__image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px; }
    .team__image img {
      margin-right: auto;
      margin-left: auto;
      width: auto;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .team__name {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.1; }
  .team__body {
    font-size: 18px;
    margin-bottom: 10px; }
  .team__button {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px; }

.news {
  text-align: center; }
  .news__heading {
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  .news__descr {
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  .news__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .news__item {
    width: 31.6227%;
    text-align: left; }
  .news__image {
    margin-bottom: 15px;
    cursor: pointer; }
    .news__image:hover {
      opacity: 0.7; }
  .news__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
    line-height: 1.1;
    cursor: pointer;
    text-decoration: underline; }
    .news__title:hover {
      text-decoration: none; }
  .news__date {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px; }
  .news__link {
    text-decoration: underline; }
    .news__link:hover {
      text-decoration: none; }
  .news__button {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px; }

.subsctibe__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.subsctibe__content {
  width: 48.71703%; }

.subsctibe__contacts {
  width: 45.30175%; }

.subsctibe__phone {
  margin-bottom: 30px; }

.subsctibe__social {
  margin-bottom: 30px; }
  .subsctibe__social .social {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.formSubscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .formSubscribe__item.-submit {
    border: none; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden; }
  .modal:target {
    visibility: visible;
    opacity: 1; }
    .modal:target .modal__inner {
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .modal__inner {
    position: relative;
    top: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    max-width: 500px;
    background-color: #fff;
    padding: 40px 70px 70px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .modal__closer {
    font-weight: 800;
    line-height: 1;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px; }
  .modal__title {
    text-align: center;
    font-weight: 800;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px; }
  .modal__body {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px; }

.formContact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 350px;
  margin-right: auto;
  margin-left: auto; }
  .formContact__item {
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: "Open Sans", "Arial", sans-serif; }
  .formContact textarea {
    resize: none;
    height: 100px; }

.footer {
  background-color: #232323;
  padding: 40px 0;
  color: #fff; }
  .footer__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__col.-branding {
    font-weight: 800;
    font-size: 24px;
    line-height: 1; }

/*# sourceMappingURL=build/maps/styles.css.map */
